 body {
     font-family: 'Open Sans', serif;
     padding-top: 54px;
     color: #868e96;
     --bs-primary-rgb: 195, 79, 47;
     --bs-secondary-rgb: 113, 110, 253;
     --bs-link: 10, 80, 250;
     --bs-link-hover: 10, 80, 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: 'Saira Extra Condensed', serif;
     font-weight: 700;
     font-size: large;
     text-transform: uppercase;
     color: #343a40;
 }

 .subheading {
     text-transform: uppercase;
     font-weight: 500;
     font-family: 'Saira Extra Condensed', serif;
 }

 .list-social-icons a {
     color: rgb(var(--bs-link));
 }

 .list-social-icons a:hover {
     color: rgb(var(--bs-link-hover));
 }

 .list-icons .list-inline-item i:hover {
     color: rgb(var(--bs-link-hover));
 }

 #sideNav .navbar-nav .nav-item .nav-link {
     font-weight: 600;
     text-transform: uppercase;
 }

 @media (min-width: 992px) {
     body {
         padding-top: 0;
         padding-left: 18vw;
     }

     #sideNav {
         text-align: center;
         position: fixed;
         top: 0;
         left: 0;
         display: flex;
         flex-direction: column;
         width: 17vw;
         height: 100vh;
     }

     #sideNav .navbar-brand {
         display: flex;
         margin: auto auto 0;
     }

     #sideNav .navbar-brand .img-profile {
         max-width: 10rem;
         max-height: 10rem;
         border: 3px solid rgba(255, 255, 255, .2)
     }

     #sideNav .navbar-collapse {
         display: flex;
         align-items: flex-start;
         flex-grow: 0;
         width: 100%;
         margin-bottom: auto;
     }

     #sideNav .navbar-collapse .navbar-nav {
         flex-direction: column;
         width: 100%;
     }

     #sideNav .navbar-collapse .navbar-nav .nav-item {
         display: block;
     }

     #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
         display: block;
     }
 }


 @media (max-width: 768px) {
     section.resume-section {
         min-height: 10px;
     }

     section.resume-section .resume-item .resume-date {
         min-width: 18px;
     }

     .lastname {
         display: block;
         font-size: 5vw;
     }

     .text-dark {
         display: block;
         font-size: 4vw;
     }
 }

 section.resume-section {
     border-bottom: 1px solid #dee2e6;
 }

 section.resume-section .resume-item .resume-date {
     min-width: none;
 }


 a {
     color: rgb(var(--bs-link));
 }

 a:active,
 a:focus,
 a:hover {
     color: rgb(var(--bs-link-hover));
 }